.app__body {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

@media screen and (max-width: 600px) {
  .app__body {
    flex-direction: column;
  }

  .profile {
    order: 1;
  }

  .content {
    order: 2;
  }
}
